<% if user_signed_in? %>
  <div class="user-lists hidden" id="user-lists">
    <ul class="lists">
      <li class="pull-down-lists">
        <%= link_to "edit", edit_user_registration_path(current_user.id), class: "pull-lists" %>
        </li>
      <li class="pull-down-lists">
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "pull-lists" %>
      </li>
    </ul>
  </div>
<% end %>