.first-view {
  height: 300px;
  position: relative;
}

.top-image {
  height: 100%;
  width: 100%;
}

.first-view h1 {
  position: absolute;
  color: black;
  top: 20%;
  left: 10%;
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
}

h2 {
  position: relative;
   margin: 80px;
   text-align: center;
 }
 
 h2:before,
 h2:after {
   position: absolute;
   z-index: 0;
   bottom: -10px;
   display: block;
   content: '';
   border: 1em solid #d90606;
 }
 
 h2:before {
   left: -30px;
   border-left-width: 15px;
   border-left-color: transparent;
 }
 
 h2:after {
   right: -30px;
   border-right-width: 15px;
   border-right-color: transparent;
 }
 
 h2 span {
   position: relative;
   z-index: 1;
   font-size: 20px;
   display: block;
   padding: 1rem 2rem;
   color: #fff;
   background: #fa4141;
 }
 
 h2 span:before,
 h2 span:after {
   position: absolute;
   bottom: -10px;
   display: block;
   width: 10px;
   height: 10px;
   content: '';
   border-style: solid;
   border-color: #b70505 transparent transparent transparent;
 }
 
 h2 span:before {
   left: 0;
   border-width: 10px 0 0 10px;
 }
 
 h2 span:after {
   right: 0;
   border-width: 10px 10px 0 0;
 }

.search {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}



.create-room-btn {
  border: 3px solid red;
  background-color: rgb(247, 81, 81);
  color: white;
  height: 40px;
  width: 170px;
  margin: 10px 20px;
  font-size: 17px;
  cursor: pointer;
}

.rooms {
  background-color: #fff;
  display: flex;
}
.room {
  margin: 10px;
}

.room-detail {
  background-color: rgb(250, 213, 219);
  display: inline-block;
  margin: 40px 40px 40px 70px;
  font-size: 20px;
  border: 2px solid rgb(250, 213, 219);
  padding: 20px;
  border-radius: 8%;
  text-align: center;
}

.room-user-name {
  margin-bottom: 5px;
}

.room-name {
  margin-bottom: 5px;
}

.room-toeic {
  margin-bottom: 10px;
}

.enter-room {
  width: 70px;
  border: 2px solid red;
  background-color: red;
  margin: 0 auto;
}

.enter {
  text-decoration: none;
  color: white;
}

h5 {
  margin-left: 80%;
  margin-right: 10px;
  cursor: pointer;
  background-color: pink;
  text-align: center;
  border-radius: 8%;
}

.footer {
  background-color: rgb(204, 200, 200);
  height: 40px;
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.footer p {
  padding-top: 10px;
}

.chat-room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-image:linear-gradient(-45deg, #ffcccc 25%, #ffeff7 25%, #ffeff7 50%, #ffcccc  50%, #ffcccc 75%, #ffeff7 75%, #ffeff7);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.chat-room-form h1 {
  font-size: 30px;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.chat-room-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: red;
  border: 0;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}

.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 170px;
  height: 40px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors{
  display: contents;
}

.search-results {
  text-align: center;
  margin-top: 30px;
}

.search-results h1 {
    padding: 1rem 2rem;
    color: black;
    font-size: 40px;
    font-weight: bold;
    background: rgb(250, 174, 187);
    background-image: radial-gradient(rgb(252, 216, 222) 13%, transparent 13%), radial-gradient(pink 13%, transparent 13%);
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px;
    margin: 0 100px;
}

.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 100vh;
  background-color: rgb(248, 233, 236);
}

.memo-lists {
  text-align: center;
}

.memo-lists h1 {
  margin-top: 30px;
}

.display-btn {
  text-align: center;
  cursor: pointer;
}

.display-btn h4 {
  border: 2px solid gray;
  background: rgb(190, 189, 189);
  margin: 10px 110px;
}

.chat {
  background: white;
  width: 100%;
}

.chat-header {
  background-color: rgb(248, 233, 236);
  display: flex;
}

.create-user-name {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.leave-btn {
  font-size: 17px;
  margin-top: 15px;
  margin-left: 50%;
}

