.account-page .account-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-image:linear-gradient(-45deg, #ffcccc 25%, #ffeff7 25%, #ffeff7 50%, #ffcccc  50%, #ffcccc 75%, #ffeff7 75%, #ffeff7);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h1 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 200;
  font-family: cursive;
}
.account-page .account-page__header h1:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  
}

.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: rgb(194, 186, 186);
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: rgb(238, 18, 55);
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.field-input-introduction {
  width: 100%;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.image-input {
  display: none;
}

.field-image {
  margin-bottom: 10px;
}

.image-field {
  width: 280px;
  margin-top: 30px;
  padding: 10px 40px;
  color: #ffffff;
  background-color: rgb(245, 70, 99);
  cursor: pointer;
}

.show-main {
  text-align: center;
}

.user-infomation {
  text-align: center;
  margin-top: 30px;
}

.user-infomation h1 {
  padding: 1rem 2rem;
  color: black;
  font-size: 40px;
  font-weight: bold;
  background: rgb(250, 174, 187);
  background-image: radial-gradient(rgb(252, 216, 222) 13%, transparent 13%), radial-gradient(pink 13%, transparent 13%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  margin: 0 100px;
}

.user-detail {
  display: flex;
  justify-content: space-around;
}

.user-name-image {
  margin: 30px 0 0 40px;
  font-size: 25px;
  text-align: center;
}

.user-no-image {
  width: 120px;
  height: 120px;
  border-radius: 120%;
}

.user-detail-image {
  width: 120px;
  height: 100px;
  border-radius: 100%;
}

.follow-detail {
  margin: 50px 30px 0 0;
  text-decoration: none;
}

.follow {
  margin-top: -20px;
  text-decoration: none;
}

.follow-btn {
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  background-color: pink;
  border: 2px solid rgb(236, 70, 98);
  cursor: pointer;
}

.follow-count {
  color: pink;
}

.follow-detail h6  {
  margin-left: 30px;
}

.follow-detail p  {
  margin-left: 30px;
  margin-top: 20px;
}

.following {
  text-decoration: none;
  color: rgb(243, 99, 123);
}

.followers {
  text-decoration: none;
  color: rgb(243, 99, 123);
}

.follow-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.kakomi-maru4 {
  position: relative;
  margin: 2em auto;
  padding: 1.2em;
  width: 70%;
  border: 2px solid #ff9ece; 
  color: #555555; 
  background-color: #fff;
  box-shadow: 2px 2px 1px #c7c7c7;
  border-radius: 8px; 
  word-break : break-all;
  }

.title-maru4 {
  position: absolute;
  right: 20px; 
  top: -15px;
  padding: 0 .5em;
  font-weight: bold;
  font-size: 1.1em;
  color: #ff9ece; 
  background-color: #fff;
}

.follow-line {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  border-bottom: 3px solid pink;
  font-size: 18px;
}

.followings-link {
  color: rgb(243, 92, 117);
}

.center-line {
  margin: 0 1rem;
  width: 3px;
  height: 35px;
  background-color: pink;
}

.following-font {
  text-decoration: none;
  color: black;
}

.following-fonts {
  text-decoration: none;
  color: rgb(243, 92, 117);
}

.followers-fonts {
  text-decoration: none;
  color: #000;
}

.followers-font {
  text-decoration: none;
  color: pink;
}

.following-infomation {
  margin: 20px 15% 60px 15%;
}

.following-user-info {
  display: flex;
  margin-top: 30px;
}

.following-image {
  border-radius: 90%;
  width: 50px;
  height: 50px;
}

.following-user-name {
  margin-left: 100%;
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.following-infomation p {
  margin-top: 40px;
  font-size: 15px;
}

.follow-noimage-info {
  margin-right: 20px;
}



  